{% block sidebar %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
</head>
<nav id="sidebar">
    <h3>
        Opciones
    </h3>
    <div class="navOption"> 
        <a href="#">Registro de venta</a> </div>
    </div>
    <div class="navOption"> 
        <a href="#">Solicitudes de contacto</a> </div>
    </div>
    <div class="navOption"> 
        <a href="#">Comisiones</a> </div>
    </div>
    <div class="navOption"> 
        <a href="#">Ventas</a> </div>
    </div>
    <div class="navOption"> 
        <a href="#">Clientes</a> </div>
    </div>
    <div class="navOption"> 
        <a href="#">Vendedores</a> </div>
    </div>
    <div class="navOption"> 
        <a href="#">Productos</a> </div>
    </div>
</nav>
{% endblock %}